.menu1{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #c9c9c9;
}

.menu1 ul{
    list-style: none;
    display: flex;
    gap: 20px;}

.menu2{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.menu2 ul{
    list-style: none;
    display: flex;
    gap: 20px;}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}